.titulo {
  animation-name: aparecer;
  animation-duration: 5s;
  font-family: "Orelega One"; }

.textoParrafo {
  font-family: "Courier New", Courier, monospace;
  text-align: end; }

.tablatalles_titulo {
  animation-name: aparecer;
  animation-duration: 5s;
  font: "Courier New", Courier, monospace; }

.informacion_titulo {
  animation-name: aparecer;
  animation-duration: 5s;
  font-family: "Orelega One";
  font-size: x-large;
  text-align: center; }

.informacion_texto {
  text-align: start;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  padding-top: 20px; }

.carousel_titulo {
  animation-name: aparecer;
  animation-duration: 5s;
  text-align: center; }

.contacto_texto {
  animation-name: aparecer;
  animation-duration: 5s;
  font-family: "Courier New", Courier, monospace;
  font-size: xx-large;
  text-align: end; }

.conocenos_texto {
  text-align: start;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  padding-top: 20px; }

.lookbook_titulo {
  animation-name: aparecer;
  animation-duration: 5s;
  font-family: "Orelega One";
  font-size: xx-large; }

.lookbook_texto {
  font-family: 'Courier New', Courier, monospace;
  font-size: x-large; }

.lookbook_texto-modificado {
  text-align: start; }

.conocenos_titulo {
  text-align: start;
  font-family: "Orelega One"; }

.conocenos_texto {
  font-family: "Courier New", Courier, monospace; }

.video_titulo {
  animation-name: aparecer;
  animation-duration: 5s;
  font-family: "Orelega One";
  padding-bottom: 10px;
  font-size: xx-large; }

.video_texto {
  font-family: "Courier New", Courier, monospace;
  padding: 5%;
  font-size: x-large; }

.video_titulo-index {
  animation-name: aparecer;
  animation-duration: 5s;
  font-family: "Orelega One";
  padding: 5%;
  font-size: xx-large; }

.video_texto-index {
  font-family: "Courier New", Courier, monospace;
  padding-top: 5px;
  padding-bottom: 30px;
  font-size: large; }

.tienda_titulo {
  font-family: "Orelega One"; }

.tienda_texto {
  font-family: "Courier New", Courier, monospace;
  font-size: medium;
  text-align: center; }

.botonComprar {
  font-family: "Courier New", Courier, monospace;
  font-size: small; }

.tienda_texto-precio {
  font-family: "Courier New", Courier, monospace;
  font-size: small;
  color: mediumaquamarine;
  text-align: center; }

.tienda_titulo-seleccionados {
  font-family: "Orelega One";
  padding-top: 20px; }

.mayorista_titulo {
  animation-name: aparecer;
  animation-duration: 5s;
  font-family: "Orelega One";
  font-size: xx-large;
  padding-top: 5%;
  padding-bottom: 5%; }

.mayorista_texto {
  text-align: start;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  padding-top: 5px;
  padding-bottom: 10px; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@media only screen and (max-width: 768px) {
  .informacion_texto {
    font-size: small; } }

.titulo {
  animation-name: aparecer;
  animation-duration: 5s;
  font-family: "Orelega One"; }

.textoParrafo {
  font-family: "Courier New", Courier, monospace;
  text-align: end; }

.tablatalles_titulo {
  animation-name: aparecer;
  animation-duration: 5s;
  font: "Courier New", Courier, monospace; }

.informacion_titulo {
  animation-name: aparecer;
  animation-duration: 5s;
  font-family: "Orelega One";
  font-size: x-large;
  text-align: center; }

.informacion_texto {
  text-align: start;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  padding-top: 20px; }

.carousel_titulo {
  animation-name: aparecer;
  animation-duration: 5s;
  text-align: center; }

.contacto_texto {
  animation-name: aparecer;
  animation-duration: 5s;
  font-family: "Courier New", Courier, monospace;
  font-size: xx-large;
  text-align: end; }

.conocenos_texto {
  text-align: start;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  padding-top: 20px; }

.lookbook_titulo {
  animation-name: aparecer;
  animation-duration: 5s;
  font-family: "Orelega One";
  font-size: xx-large; }

.lookbook_texto {
  font-family: 'Courier New', Courier, monospace;
  font-size: x-large; }

.lookbook_texto-modificado {
  text-align: start; }

.conocenos_titulo {
  text-align: start;
  font-family: "Orelega One"; }

.conocenos_texto {
  font-family: "Courier New", Courier, monospace; }

.video_titulo {
  animation-name: aparecer;
  animation-duration: 5s;
  font-family: "Orelega One";
  padding-bottom: 10px;
  font-size: xx-large; }

.video_texto {
  font-family: "Courier New", Courier, monospace;
  padding: 5%;
  font-size: x-large; }

.video_titulo-index {
  animation-name: aparecer;
  animation-duration: 5s;
  font-family: "Orelega One";
  padding: 5%;
  font-size: xx-large; }

.video_texto-index {
  font-family: "Courier New", Courier, monospace;
  padding-top: 5px;
  padding-bottom: 30px;
  font-size: large; }

.tienda_titulo {
  font-family: "Orelega One"; }

.tienda_texto {
  font-family: "Courier New", Courier, monospace;
  font-size: medium;
  text-align: center; }

.botonComprar {
  font-family: "Courier New", Courier, monospace;
  font-size: small; }

.tienda_texto-precio {
  font-family: "Courier New", Courier, monospace;
  font-size: small;
  color: mediumaquamarine;
  text-align: center; }

.tienda_titulo-seleccionados {
  font-family: "Orelega One";
  padding-top: 20px; }

.mayorista_titulo {
  animation-name: aparecer;
  animation-duration: 5s;
  font-family: "Orelega One";
  font-size: xx-large;
  padding-top: 5%;
  padding-bottom: 5%; }

.mayorista_texto {
  text-align: start;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  padding-top: 5px;
  padding-bottom: 10px; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@media only screen and (max-width: 768px) {
  .informacion_texto {
    font-size: small; } }

.titulo {
  animation-name: aparecer;
  animation-duration: 5s;
  font-family: "Orelega One"; }

.textoParrafo {
  font-family: "Courier New", Courier, monospace;
  text-align: end; }

.tablatalles_titulo {
  animation-name: aparecer;
  animation-duration: 5s;
  font: "Courier New", Courier, monospace; }

.informacion_titulo {
  animation-name: aparecer;
  animation-duration: 5s;
  font-family: "Orelega One";
  font-size: x-large;
  text-align: center; }

.informacion_texto {
  text-align: start;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  padding-top: 20px; }

.carousel_titulo {
  animation-name: aparecer;
  animation-duration: 5s;
  text-align: center; }

.contacto_texto {
  animation-name: aparecer;
  animation-duration: 5s;
  font-family: "Courier New", Courier, monospace;
  font-size: xx-large;
  text-align: end; }

.conocenos_texto {
  text-align: start;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  padding-top: 20px; }

.lookbook_titulo {
  animation-name: aparecer;
  animation-duration: 5s;
  font-family: "Orelega One";
  font-size: xx-large; }

.lookbook_texto {
  font-family: 'Courier New', Courier, monospace;
  font-size: x-large; }

.lookbook_texto-modificado {
  text-align: start; }

.conocenos_titulo {
  text-align: start;
  font-family: "Orelega One"; }

.conocenos_texto {
  font-family: "Courier New", Courier, monospace; }

.video_titulo {
  animation-name: aparecer;
  animation-duration: 5s;
  font-family: "Orelega One";
  padding-bottom: 10px;
  font-size: xx-large; }

.video_texto {
  font-family: "Courier New", Courier, monospace;
  padding: 5%;
  font-size: x-large; }

.video_titulo-index {
  animation-name: aparecer;
  animation-duration: 5s;
  font-family: "Orelega One";
  padding: 5%;
  font-size: xx-large; }

.video_texto-index {
  font-family: "Courier New", Courier, monospace;
  padding-top: 5px;
  padding-bottom: 30px;
  font-size: large; }

.tienda_titulo {
  font-family: "Orelega One"; }

.tienda_texto {
  font-family: "Courier New", Courier, monospace;
  font-size: medium;
  text-align: center; }

.botonComprar {
  font-family: "Courier New", Courier, monospace;
  font-size: small; }

.tienda_texto-precio {
  font-family: "Courier New", Courier, monospace;
  font-size: small;
  color: mediumaquamarine;
  text-align: center; }

.tienda_titulo-seleccionados {
  font-family: "Orelega One";
  padding-top: 20px; }

.mayorista_titulo {
  animation-name: aparecer;
  animation-duration: 5s;
  font-family: "Orelega One";
  font-size: xx-large;
  padding-top: 5%;
  padding-bottom: 5%; }

.mayorista_texto {
  text-align: start;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  padding-top: 5px;
  padding-bottom: 10px; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@media only screen and (max-width: 768px) {
  .informacion_texto {
    font-size: small; } }

.header_nav {
  background-color: #cf5b8c; }

nav {
  background-color: #cf5b8c; }

.lookbook {
  background-color: white;
  text-align: center;
  display: inline-block;
  align-items: center;
  justify-content: center; }

.video {
  background-color: blanchedalmond;
  text-align: center;
  display: inline-block;
  align-items: center;
  justify-content: center; }

.video-responsive {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  padding-top: 30px;
  position: relative; }

.video-responsive iframe, .video-responsive object, .video-responsive embed {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%; }

.conocenos {
  background: url(../images/fondo1.jpeg);
  align-content: flex-start;
  text-align: center; }

.conocenos_imagen {
  background-color: lightslategrey;
  display: inline-block;
  align-items: center;
  justify-content: center; }

.conocenos_imagen-medidas {
  width: 90%;
  padding: 5%;
  display: inline-block;
  align-items: center;
  justify-content: center; }

.titulo {
  animation-name: aparecer;
  animation-duration: 5s;
  font-family: "Orelega One"; }

.textoParrafo {
  font-family: "Courier New", Courier, monospace;
  text-align: end; }

.tablatalles_titulo {
  animation-name: aparecer;
  animation-duration: 5s;
  font: "Courier New", Courier, monospace; }

.informacion_titulo {
  animation-name: aparecer;
  animation-duration: 5s;
  font-family: "Orelega One";
  font-size: x-large;
  text-align: center; }

.informacion_texto {
  text-align: start;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  padding-top: 20px; }

.carousel_titulo {
  animation-name: aparecer;
  animation-duration: 5s;
  text-align: center; }

.contacto_texto {
  animation-name: aparecer;
  animation-duration: 5s;
  font-family: "Courier New", Courier, monospace;
  font-size: xx-large;
  text-align: end; }

.conocenos_texto {
  text-align: start;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  padding-top: 20px; }

.lookbook_titulo {
  animation-name: aparecer;
  animation-duration: 5s;
  font-family: "Orelega One";
  font-size: xx-large; }

.lookbook_texto {
  font-family: 'Courier New', Courier, monospace;
  font-size: x-large; }

.lookbook_texto-modificado {
  text-align: start; }

.conocenos_titulo {
  text-align: start;
  font-family: "Orelega One"; }

.conocenos_texto {
  font-family: "Courier New", Courier, monospace; }

.video_titulo {
  animation-name: aparecer;
  animation-duration: 5s;
  font-family: "Orelega One";
  padding-bottom: 10px;
  font-size: xx-large; }

.video_texto {
  font-family: "Courier New", Courier, monospace;
  padding: 5%;
  font-size: x-large; }

.video_titulo-index {
  animation-name: aparecer;
  animation-duration: 5s;
  font-family: "Orelega One";
  padding: 5%;
  font-size: xx-large; }

.video_texto-index {
  font-family: "Courier New", Courier, monospace;
  padding-top: 5px;
  padding-bottom: 30px;
  font-size: large; }

.tienda_titulo {
  font-family: "Orelega One"; }

.tienda_texto {
  font-family: "Courier New", Courier, monospace;
  font-size: medium;
  text-align: center; }

.botonComprar {
  font-family: "Courier New", Courier, monospace;
  font-size: small; }

.tienda_texto-precio {
  font-family: "Courier New", Courier, monospace;
  font-size: small;
  color: mediumaquamarine;
  text-align: center; }

.tienda_titulo-seleccionados {
  font-family: "Orelega One";
  padding-top: 20px; }

.mayorista_titulo {
  animation-name: aparecer;
  animation-duration: 5s;
  font-family: "Orelega One";
  font-size: xx-large;
  padding-top: 5%;
  padding-bottom: 5%; }

.mayorista_texto {
  text-align: start;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  padding-top: 5px;
  padding-bottom: 10px; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@media only screen and (max-width: 768px) {
  .informacion_texto {
    font-size: small; } }

.titulo {
  animation-name: aparecer;
  animation-duration: 5s;
  font-family: "Orelega One"; }

.textoParrafo {
  font-family: "Courier New", Courier, monospace;
  text-align: end; }

.tablatalles_titulo {
  animation-name: aparecer;
  animation-duration: 5s;
  font: "Courier New", Courier, monospace; }

.informacion_titulo {
  animation-name: aparecer;
  animation-duration: 5s;
  font-family: "Orelega One";
  font-size: x-large;
  text-align: center; }

.informacion_texto {
  text-align: start;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  padding-top: 20px; }

.carousel_titulo {
  animation-name: aparecer;
  animation-duration: 5s;
  text-align: center; }

.contacto_texto {
  animation-name: aparecer;
  animation-duration: 5s;
  font-family: "Courier New", Courier, monospace;
  font-size: xx-large;
  text-align: end; }

.conocenos_texto {
  text-align: start;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  padding-top: 20px; }

.lookbook_titulo {
  animation-name: aparecer;
  animation-duration: 5s;
  font-family: "Orelega One";
  font-size: xx-large; }

.lookbook_texto {
  font-family: 'Courier New', Courier, monospace;
  font-size: x-large; }

.lookbook_texto-modificado {
  text-align: start; }

.conocenos_titulo {
  text-align: start;
  font-family: "Orelega One"; }

.conocenos_texto {
  font-family: "Courier New", Courier, monospace; }

.video_titulo {
  animation-name: aparecer;
  animation-duration: 5s;
  font-family: "Orelega One";
  padding-bottom: 10px;
  font-size: xx-large; }

.video_texto {
  font-family: "Courier New", Courier, monospace;
  padding: 5%;
  font-size: x-large; }

.video_titulo-index {
  animation-name: aparecer;
  animation-duration: 5s;
  font-family: "Orelega One";
  padding: 5%;
  font-size: xx-large; }

.video_texto-index {
  font-family: "Courier New", Courier, monospace;
  padding-top: 5px;
  padding-bottom: 30px;
  font-size: large; }

.tienda_titulo {
  font-family: "Orelega One"; }

.tienda_texto {
  font-family: "Courier New", Courier, monospace;
  font-size: medium;
  text-align: center; }

.botonComprar {
  font-family: "Courier New", Courier, monospace;
  font-size: small; }

.tienda_texto-precio {
  font-family: "Courier New", Courier, monospace;
  font-size: small;
  color: mediumaquamarine;
  text-align: center; }

.tienda_titulo-seleccionados {
  font-family: "Orelega One";
  padding-top: 20px; }

.mayorista_titulo {
  animation-name: aparecer;
  animation-duration: 5s;
  font-family: "Orelega One";
  font-size: xx-large;
  padding-top: 5%;
  padding-bottom: 5%; }

.mayorista_texto {
  text-align: start;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  padding-top: 5px;
  padding-bottom: 10px; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@media only screen and (max-width: 768px) {
  .informacion_texto {
    font-size: small; } }

.header_nav {
  background-color: #cf5b8c; }

nav {
  background-color: #cf5b8c; }

.header {
  background-color: lightslategrey;
  color: black;
  font-family: "Orelega One"; }

.navbar {
  font-family: "Orelega One"; }

nav {
  background-color: verdadero; }

.titulo {
  animation-name: aparecer;
  animation-duration: 5s;
  font-family: "Orelega One"; }

.textoParrafo {
  font-family: "Courier New", Courier, monospace;
  text-align: end; }

.tablatalles_titulo {
  animation-name: aparecer;
  animation-duration: 5s;
  font: "Courier New", Courier, monospace; }

.informacion_titulo {
  animation-name: aparecer;
  animation-duration: 5s;
  font-family: "Orelega One";
  font-size: x-large;
  text-align: center; }

.informacion_texto {
  text-align: start;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  padding-top: 20px; }

.carousel_titulo {
  animation-name: aparecer;
  animation-duration: 5s;
  text-align: center; }

.contacto_texto {
  animation-name: aparecer;
  animation-duration: 5s;
  font-family: "Courier New", Courier, monospace;
  font-size: xx-large;
  text-align: end; }

.conocenos_texto {
  text-align: start;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  padding-top: 20px; }

.lookbook_titulo {
  animation-name: aparecer;
  animation-duration: 5s;
  font-family: "Orelega One";
  font-size: xx-large; }

.lookbook_texto {
  font-family: 'Courier New', Courier, monospace;
  font-size: x-large; }

.lookbook_texto-modificado {
  text-align: start; }

.conocenos_titulo {
  text-align: start;
  font-family: "Orelega One"; }

.conocenos_texto {
  font-family: "Courier New", Courier, monospace; }

.video_titulo {
  animation-name: aparecer;
  animation-duration: 5s;
  font-family: "Orelega One";
  padding-bottom: 10px;
  font-size: xx-large; }

.video_texto {
  font-family: "Courier New", Courier, monospace;
  padding: 5%;
  font-size: x-large; }

.video_titulo-index {
  animation-name: aparecer;
  animation-duration: 5s;
  font-family: "Orelega One";
  padding: 5%;
  font-size: xx-large; }

.video_texto-index {
  font-family: "Courier New", Courier, monospace;
  padding-top: 5px;
  padding-bottom: 30px;
  font-size: large; }

.tienda_titulo {
  font-family: "Orelega One"; }

.tienda_texto {
  font-family: "Courier New", Courier, monospace;
  font-size: medium;
  text-align: center; }

.botonComprar {
  font-family: "Courier New", Courier, monospace;
  font-size: small; }

.tienda_texto-precio {
  font-family: "Courier New", Courier, monospace;
  font-size: small;
  color: mediumaquamarine;
  text-align: center; }

.tienda_titulo-seleccionados {
  font-family: "Orelega One";
  padding-top: 20px; }

.mayorista_titulo {
  animation-name: aparecer;
  animation-duration: 5s;
  font-family: "Orelega One";
  font-size: xx-large;
  padding-top: 5%;
  padding-bottom: 5%; }

.mayorista_texto {
  text-align: start;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  padding-top: 5px;
  padding-bottom: 10px; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@media only screen and (max-width: 768px) {
  .informacion_texto {
    font-size: small; } }

.row > div {
  padding: 30px; }

body {
  background-image: linear-gradient(lightgrey, lightsteelblue); }

footer {
  background-color: #cf5b8c;
  color: black;
  text-align: start;
  font-family: "Orelega One";
  font-size: x-small; }

.seguinosRedes {
  font: "Orelega One";
  background-color: #cf5b8c;
  color: black;
  text-align: start;
  font-size: medium;
  font-family: "Orelega One"; }

.informacion {
  background-image: url(../images/fondo1.jpeg); }

.mayorista {
  background-image: url(../images/fondo1.jpeg); }

.mayorista_video {
  display: inline-flex;
  align-items: center;
  justify-content: center; }

.tienda {
  background-color: white;
  text-align: center;
  display: inline-block;
  align-items: center;
  justify-content: center; }

.tienda-infalible {
  background-color: lightslategrey;
  display: inline-block;
  align-items: center;
  justify-content: center; }

.tablatalles {
  background-color: whitesmoke;
  align-content: space-around;
  text-align: center; }

.informacion-infalible {
  background-color: lightslategrey;
  display: inline-block;
  align-items: center;
  justify-content: center; }

.informacion_imagen {
  width: 80%;
  height: 100%;
  padding: 5%;
  display: inline-block;
  align-items: center;
  justify-content: center; }

.dudasReclamos {
  padding-top: 30px; }

.form-label {
  padding-bottom: 2px;
  padding-top: 2px; }

.titulo {
  animation-name: aparecer;
  animation-duration: 5s;
  font-family: "Orelega One"; }

.textoParrafo {
  font-family: "Courier New", Courier, monospace;
  text-align: end; }

.tablatalles_titulo {
  animation-name: aparecer;
  animation-duration: 5s;
  font: "Courier New", Courier, monospace; }

.informacion_titulo {
  animation-name: aparecer;
  animation-duration: 5s;
  font-family: "Orelega One";
  font-size: x-large;
  text-align: center; }

.informacion_texto {
  text-align: start;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  padding-top: 20px; }

.carousel_titulo {
  animation-name: aparecer;
  animation-duration: 5s;
  text-align: center; }

.contacto_texto {
  animation-name: aparecer;
  animation-duration: 5s;
  font-family: "Courier New", Courier, monospace;
  font-size: xx-large;
  text-align: end; }

.conocenos_texto {
  text-align: start;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  padding-top: 20px; }

.lookbook_titulo {
  animation-name: aparecer;
  animation-duration: 5s;
  font-family: "Orelega One";
  font-size: xx-large; }

.lookbook_texto {
  font-family: 'Courier New', Courier, monospace;
  font-size: x-large; }

.lookbook_texto-modificado {
  text-align: start; }

.conocenos_titulo {
  text-align: start;
  font-family: "Orelega One"; }

.conocenos_texto {
  font-family: "Courier New", Courier, monospace; }

.video_titulo {
  animation-name: aparecer;
  animation-duration: 5s;
  font-family: "Orelega One";
  padding-bottom: 10px;
  font-size: xx-large; }

.video_texto {
  font-family: "Courier New", Courier, monospace;
  padding: 5%;
  font-size: x-large; }

.video_titulo-index {
  animation-name: aparecer;
  animation-duration: 5s;
  font-family: "Orelega One";
  padding: 5%;
  font-size: xx-large; }

.video_texto-index {
  font-family: "Courier New", Courier, monospace;
  padding-top: 5px;
  padding-bottom: 30px;
  font-size: large; }

.tienda_titulo {
  font-family: "Orelega One"; }

.tienda_texto {
  font-family: "Courier New", Courier, monospace;
  font-size: medium;
  text-align: center; }

.botonComprar {
  font-family: "Courier New", Courier, monospace;
  font-size: small; }

.tienda_texto-precio {
  font-family: "Courier New", Courier, monospace;
  font-size: small;
  color: mediumaquamarine;
  text-align: center; }

.tienda_titulo-seleccionados {
  font-family: "Orelega One";
  padding-top: 20px; }

.mayorista_titulo {
  animation-name: aparecer;
  animation-duration: 5s;
  font-family: "Orelega One";
  font-size: xx-large;
  padding-top: 5%;
  padding-bottom: 5%; }

.mayorista_texto {
  text-align: start;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  padding-top: 5px;
  padding-bottom: 10px; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@media only screen and (max-width: 768px) {
  .informacion_texto {
    font-size: small; } }

.header_nav {
  background-color: #cf5b8c; }

nav {
  background-color: #cf5b8c; }

@keyframes imagenes {
  from {
    transform: rotateY(70deg); } }

.tienda_imagen {
  width: 90%;
  margin-left: 40px;
  margin-top: 30px;
  animation-name: imagenes;
  animation-duration: 6s;
  align-content: center; }

.tienda_imagen-seleccionados {
  width: 22.5%;
  height: 22.5%; }

.tienda_imagen-infalible {
  width: 45%;
  height: 45%; }

.tienda-seleccionados {
  text-align: center;
  align-items: center;
  background-color: whitesmoke; }

.titulo {
  animation-name: aparecer;
  animation-duration: 5s;
  font-family: "Orelega One"; }

.textoParrafo {
  font-family: "Courier New", Courier, monospace;
  text-align: end; }

.tablatalles_titulo {
  animation-name: aparecer;
  animation-duration: 5s;
  font: "Courier New", Courier, monospace; }

.informacion_titulo {
  animation-name: aparecer;
  animation-duration: 5s;
  font-family: "Orelega One";
  font-size: x-large;
  text-align: center; }

.informacion_texto {
  text-align: start;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  padding-top: 20px; }

.carousel_titulo {
  animation-name: aparecer;
  animation-duration: 5s;
  text-align: center; }

.contacto_texto {
  animation-name: aparecer;
  animation-duration: 5s;
  font-family: "Courier New", Courier, monospace;
  font-size: xx-large;
  text-align: end; }

.conocenos_texto {
  text-align: start;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  padding-top: 20px; }

.lookbook_titulo {
  animation-name: aparecer;
  animation-duration: 5s;
  font-family: "Orelega One";
  font-size: xx-large; }

.lookbook_texto {
  font-family: 'Courier New', Courier, monospace;
  font-size: x-large; }

.lookbook_texto-modificado {
  text-align: start; }

.conocenos_titulo {
  text-align: start;
  font-family: "Orelega One"; }

.conocenos_texto {
  font-family: "Courier New", Courier, monospace; }

.video_titulo {
  animation-name: aparecer;
  animation-duration: 5s;
  font-family: "Orelega One";
  padding-bottom: 10px;
  font-size: xx-large; }

.video_texto {
  font-family: "Courier New", Courier, monospace;
  padding: 5%;
  font-size: x-large; }

.video_titulo-index {
  animation-name: aparecer;
  animation-duration: 5s;
  font-family: "Orelega One";
  padding: 5%;
  font-size: xx-large; }

.video_texto-index {
  font-family: "Courier New", Courier, monospace;
  padding-top: 5px;
  padding-bottom: 30px;
  font-size: large; }

.tienda_titulo {
  font-family: "Orelega One"; }

.tienda_texto {
  font-family: "Courier New", Courier, monospace;
  font-size: medium;
  text-align: center; }

.botonComprar {
  font-family: "Courier New", Courier, monospace;
  font-size: small; }

.tienda_texto-precio {
  font-family: "Courier New", Courier, monospace;
  font-size: small;
  color: mediumaquamarine;
  text-align: center; }

.tienda_titulo-seleccionados {
  font-family: "Orelega One";
  padding-top: 20px; }

.mayorista_titulo {
  animation-name: aparecer;
  animation-duration: 5s;
  font-family: "Orelega One";
  font-size: xx-large;
  padding-top: 5%;
  padding-bottom: 5%; }

.mayorista_texto {
  text-align: start;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  padding-top: 5px;
  padding-bottom: 10px; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@media only screen and (max-width: 768px) {
  .informacion_texto {
    font-size: small; } }

.header_nav {
  background-color: #cf5b8c; }

nav {
  background-color: #cf5b8c; }
