@import "tipografia";

.row > div{
    padding: 30px;
  }
body {
    background-image: linear-gradient(lightgrey, lightsteelblue);
    

}
footer{
    background-color: #cf5b8c;
    color: black;
    text-align: start;
    font-family: $title-font;
    font-size: x-small;
    
}
.seguinosRedes {
    font: $title-font;
    background-color: #cf5b8c;
    color: black;
    text-align: start;
    font-size: medium;
    font-family: $title-font;
    
}
.informacion {
    background-image: url(../images/fondo1.jpeg) ;
}
.mayorista {
    background-image: url(../images/fondo1.jpeg) ;
}
.mayorista_video {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.tienda {
    background-color: white;
    text-align:center;
    display: inline-block;
    align-items:center; 
    justify-content:center;
}
.tienda-infalible{
    background-color: lightslategrey ;
    display: inline-block;
    align-items: center;
    justify-content:center;
}
.tablatalles {
    background-color: whitesmoke;
    align-content: space-around;
    text-align: center;

}
.informacion-infalible{
    background-color: lightslategrey ;
    display: inline-block;
    align-items: center;
    justify-content:center;
}
.informacion_imagen {
    width: 80%;
    height: 100%;
    padding:5%;
    display: inline-block;
    align-items: center;
    justify-content:center;
}

.dudasReclamos{
    padding-top:30px;

}
.form-label {
    padding-bottom: 2px;
    padding-top: 2px;
}

