@import "tipografia";
@import "operaciones";

.lookbook{
    background-color: white;
    text-align:center;
    display: inline-block;
    align-items:center; 
    justify-content:center
}


.video{
    background-color: blanchedalmond;
    text-align:center;
    display: inline-block;
    align-items:center; 
    justify-content:center;
}
.video-responsive {
    height: 0;
	overflow: hidden;
	padding-bottom: 56.25%;
	padding-top: 30px;
	position: relative;
	
}
.video-responsive iframe,.video-responsive object, .video-responsive embed {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.conocenos {
    background: url(../images/fondo1.jpeg) ;
    align-content: flex-start;
    text-align: center;
}
.conocenos_imagen { 
    background-color: lightslategrey ;
    display: flex;
    align-items:flex-end;
    justify-content:flex-end;
}
.conocenos_imagen-medidas{
    width: $ancho;
    padding:5%;
    display: flex;
    align-items: center;
    justify-content:center;
}