@import "operaciones"; 


@keyframes imagenes {
    from {
     transform: rotateY(70deg)}
}

.tienda_imagen {
    width: $ancho;
    margin-left: 40px;
    margin-top: 30px;
    animation-name: imagenes;
    animation-duration: 6s;
    align-content: center;
}
.tienda_imagen-seleccionados {
    width: ($ancho/4);
    height: ($ancho/4);
}
.tienda_imagen-infalible {
    width: ($ancho/2);
    height: ($ancho/2);
}
.tienda-seleccionados {
    text-align: center;
    align-items: center;
    background-color: whitesmoke;
}
