$title-font:'Orelega One'; 
$font-text: 'Courier New', Courier, monospace;

.titulo {
        animation-name: aparecer;
        animation-duration: 5s;
        font-family: $title-font;
    }
.textoParrafo {
    font-family: $font-text;
    text-align: end;
}
.tablatalles_titulo {
    animation-name: aparecer;
    animation-duration: 5s;
    font: $font-text;
}
.informacion_titulo {
    animation-name: aparecer;
    animation-duration: 5s;
    font-family: $title-font;
    font-size: xx-large;
    text-align: center;
}
.informacion_texto {
    text-align: start;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    padding-top: 20px;
}
.carousel_titulo {
    animation-name: aparecer;
    animation-duration: 5s;
    text-align: center;
}
.contacto_texto {
    animation-name: aparecer;
    animation-duration: 5s;
    font-family: $font-text;
    font-size: xx-large;
    text-align: end;


}
.conocenos_texto {
    text-align: start;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    padding-top: 20px;
    
  
}
.lookbook_titulo {
    animation-name: aparecer;
    animation-duration: 5s;
    font-family: $title-font;
    padding-top: 20px;
    padding-bottom: 20px;
}
.lookbook_texto {
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    padding-top: 20px;
    text-align: center;
}
.lookbook_texto-centrado {
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    padding-top: 60px;
    text-align: center;
}
.lookbook_texto-modificado {
    text-align: start;
}
.conocenos_titulo{
    text-align: start;
    font-family: $title-font;
}
.conocenos_texto {
    font-family: $font-text;
    font-size: large;
}
.video_titulo {
    animation-name: aparecer;
    animation-duration: 5s;
    font-family: $title-font;
    padding-bottom: 10px;
    font-size: xx-large;
}
.video_texto {
 font-family: $font-text;
 padding: 5%;
 font-size: x-large;
}
.video_texto-modificado {
    font-family: $font-text;
    padding: 5%;
    font-size: large;
}
.video_titulo-index {
    animation-name: aparecer;
    animation-duration: 5s;
    font-family: $title-font;
    padding: 5%;
    font-size: xx-large;
}
.video_texto-index {
 font-family: $font-text;
 padding-top: 15px;
 padding-bottom: 30px;
 font-size: xx-large;
}
.tienda_titulo {
    font-family: $title-font;
}
.tienda_texto {
    font-family: $font-text;
    font-size: large;
    text-align: center;
}
.botonComprar {
    font-family: $font-text;
    font-size: medium;
}
.tienda_texto-precio {
    font-family: $font-text;
    font-size: x-large;
    color: mediumaquamarine;
    text-align: center;

}

.tienda_titulo-seleccionados {
    font-family: $title-font;
    padding-top: 20px;
}
.mayorista_titulo {
    animation-name: aparecer;
    animation-duration: 5s;
    font-family: $title-font;
    font-size: xx-large;
    padding-top: 5%;
    padding-bottom: 5%;
    
}
.mayorista_texto{
    text-align: start;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    padding-top: 5px;
    padding-bottom:10px ;

}

@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@media screen and(max-width: 1023px){
    .informacion_texto {
        font-size:small;
    }
    .lookbook_texto{
        font-size: x-large;
    }
    .lookbook_texto-centrado {
        font-size:x-large;
    }
    .conocenos_texto {
        font-size: large;
    }
    .video_texto {
        font-size: large;
    }
    .video_texto-index {
        font-size: x-large;
    }
    .mayorista_texto {
        font-size: large;
    }
    .informacion_titulo {
        font-size: large;
    }
    .informacion_texto {
        font-size: large;
    }
    .tienda_texto-precio {
        font-size: large;
    }
}

